body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}
#calculator{
    margin: 25px 25px;
    background-color: black;
    width: 320px;
    height: 490px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
}
#display{
    width: 100%;
    height: 80px;
    border: none;
    background-color: hsl(0, 0%, 20%);
}

button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.02s;
}
.zero{
    grid-column: 1 / span 2;
    width: 160px;
    text-align-last: left;
    padding-left: 30px;
}
#keys{
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    grid-column: 1 / span 2;
}
.operator-btn{
    background-color: hsl(39, 100%, 47%);
}

.operator-btn:hover{
    background-color: hsl(39, 100%, 53%);
}
.operator-btn:active{
    background-color: hsl(39, 100%, 70%);
}
.top-btn{
    background-color: hsl(0, 0%, 50%);
}
.top-btn:hover{
    background-color: hsl(0, 0%, 55%);
}
.top-btn:active{
    background-color: hsl(0, 0%, 70%);
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}